[submodule ".registry"]
	path = .registry
	url = https://github.com/marcozanotti/universe
	shallow = true
	branch = HEAD
[submodule "dispositionEffect"]
	path = dispositionEffect
	url = https://github.com/marcozanotti/dispositionEffect
	shallow = true
	registered = true
