[submodule ".registry"]
	path = .registry
	url = https://github.com/marcozanotti/marcozanotti.r-universe.dev
	branch = HEAD
[submodule "dispositionEffect"]
	path = dispositionEffect
	url = https://github.com/marcozanotti/dispositionEffect
